Semplificato2021/TracciatoXML/XSD_TIS_SEMPLIFICATO_2021_tagNovembre2020.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nil="true">
	<xs:element name="tis">
	
		<xs:complexType>
			
			<xs:sequence>
				<xs:element name="istanza" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
							<xs:all>
							<xs:element type="xs:string" name="identificativoPratica" minOccurs="1" />
							<xs:element type="xs:string" name="denominazioneAPL" minOccurs="1" />
							<xs:element type="xs:string" name="ragioneSocialeUtilizzatore" minOccurs="1" />
							<xs:element name="partitaIvaUtilizzatore" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="((NY)([0-9]{9}([0-9]{3})?|[A-Z]{2}[0-9]{3})|(GB)?([0-9]{9}([0-9]{3})?|[A-Z]{2}[0-9]{3})|(AT)U[0-9]{8}|(BE)0[0-9]{9}|(BG)[0-9]{9,10}|(CY)[0-9]{8}L|(CZ)[0-9]{8,10}|(DE)[0-9]{9}|(DK)[0-9]{8}|(EE)[0-9]{9}|(EL|GR)[0-9]{9}|(ES)[0-9A-Z][0-9]{7}[0-9A-Z]|(FI)[0-9]{8}|(FR)[0-9A-Z]{2}[0-9]{9}|(GB)([0-9]{9}([0-9]{3})|[A-Z]{2}[0-9]{3})|(HU)[0-9]{8}|(IE)[0-9]S[0-9]{5}[A-Za-z]{1}|(IE)[0-9]{7}[A-Za-z]{1}|(IT)?[0-9]{11}|(LT)([0-9]{9}|[0-9]{12})|(LU)[0-9]{8}|(LV)[0-9]{11}|(MT)[0-9]{8}|(NL)[0-9]{9}B[0-9]{2}|(PL)[0-9]{10}|(PT)[0-9]{9}|(RO)[0-9]{2,10}|(SE)[0-9]{12}|(SI)[0-9]{8}|(SK)[0-9]{10}|([A-Z]{6}\d{2}[A-Z][0-9A-Z]{2}[A-Z][0-9A-Z]{3}[A-Z]))" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codiceFiscaleUtilizzatore" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="((NY)([0-9]{9}([0-9]{3})?|[A-Z]{2}[0-9]{3})|(GB)?([0-9]{9}([0-9]{3})?|[A-Z]{2}[0-9]{3})|(AT)U[0-9]{8}|(BE)0[0-9]{9}|(BG)[0-9]{9,10}|(CY)[0-9]{8}L|(CZ)[0-9]{8,10}|(DE)[0-9]{9}|(DK)[0-9]{8}|(EE)[0-9]{9}|(EL|GR)[0-9]{9}|(ES)[0-9A-Z][0-9]{7}[0-9A-Z]|(FI)[0-9]{8}|(FR)[0-9A-Z]{2}[0-9]{9}|(GB)([0-9]{9}([0-9]{3})|[A-Z]{2}[0-9]{3})|(HU)[0-9]{8}|(IE)[0-9]S[0-9]{5}[A-Za-z]{1}|(IE)[0-9]{7}[A-Za-z]{1}|(IT)?[0-9]{11}|(LT)([0-9]{9}|[0-9]{12})|(LU)[0-9]{8}|(LV)[0-9]{11}|(MT)[0-9]{8}|(NL)[0-9]{9}B[0-9]{2}|(PL)[0-9]{10}|(PT)[0-9]{9}|(RO)[0-9]{2,10}|(SE)[0-9]{12}|(SI)[0-9]{8}|(SK)[0-9]{10}|([A-Z]{6}\d{2}[A-Z][0-9A-Z]{2}[A-Z][0-9A-Z]{3}[A-Z]))" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" name="codiceAtecoUtilizzatore" minOccurs="1" />
							<xs:element name="sedeUnitaProduttiva" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[A-Z][0-9A-Z]{3}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mensilitaAggiuntive" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="0" />
										<xs:maxInclusive value="5" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="settoreRiferimento" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="ED" />
										<xs:enumeration value="NE" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="autocertificazioneSettimane" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="S" />
										<xs:enumeration value="N" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sedeLegaleUtilizzatore">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[A-Z][0-9A-Z]{3}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="giornateFruite" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="periodo" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="totale" >
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:minInclusive value="0" />
																<xs:maxInclusive value="31" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="anno">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:minInclusive value="2021" />
																<xs:maxInclusive value="2021" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="mese">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:minInclusive value="1" />
																<xs:maxInclusive value="12" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="autorizzazione" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="periodo" maxOccurs="unbounded" minOccurs="1">
											<xs:complexType>
												<xs:all>
													<xs:element name="data" type="dataAutorizzazioneType" minOccurs="1" >
													</xs:element>    
													<xs:element name="annoRiferimento">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:minInclusive value="2020" />
																<xs:maxInclusive value="2021" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="meseRiferimento">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:minInclusive value="1" />
																<xs:maxInclusive value="12" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="distribuzioneOrarioAziendale">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="5" />
										<xs:maxInclusive value="7" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="utilizzatorePA" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="S" />
										<xs:enumeration value="N" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="note"  >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="lavoratori">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="lavoratore" maxOccurs="unbounded" minOccurs="1">
											<xs:complexType>
												<xs:all>
													<xs:element name="annoRiferimento" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:minInclusive value="2021" />
																<xs:maxInclusive value="2021" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="meseRiferimento" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="01|02|03|04|05|06|07|08|09|1|2|3|4|5|6|7|8|9|10|11|12" />
																<xs:maxLength value="2" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="codiceFiscale" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="([A-Z]{6}\d{2}[A-Z][0-9A-Z]{2}[A-Z][0-9A-Z]{3}[A-Z])" />
																<xs:length value="16" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:string" name="nome" minOccurs="1" />
													<xs:element type="xs:string" name="cognome" minOccurs="1" />
													<xs:element name="tipologiaContratto" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="TD" />
																<xs:enumeration value="TI" />
																<xs:enumeration value="AP" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="dueCifreDecimali" name="retribuzioneMensileLorda" minOccurs="1" />
													<xs:element type="cinqueCifreDecimali" name="retribuzioneOrariaLordaDiFatto" minOccurs="1" />
													<xs:element name="sgraviAliquotaContributivaPrevidenziale" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="S" />
																<xs:enumeration value="N" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="dueCifreDecimali" name="percentualeSgraviAliquotaContributivaPrevidenziale" minOccurs="1" />
													<xs:element type="dueCifreDecimali" name="retribuzioneTisRiconosciuta" minOccurs="1" />
													<xs:element type="dueCifreDecimali" name="contribuzioneTisRiconosciuta" minOccurs="1" />
													<xs:element type="dueCifreDecimali" name="quotaRateiMensilitaAggiuntiveRetribuzione" minOccurs="1" />
													<xs:element type="dueCifreDecimali" name="quotaRateiMensilitaAggiuntiveContribuzione" minOccurs="1" />
													<xs:element type="dueCifreDecimali" name="quotaRateiRolPermessiFerieRetribuzione" minOccurs="1" />
													<xs:element type="dueCifreDecimali" name="quotaRateiRolPermessiFerieContribuzione" minOccurs="1" />
													<xs:element type="dueCifreDecimali" name="totaleOreTisRiconosciute" minOccurs="1" />
													<xs:element name="lavoratoreAlleDipendenze9Novembre2020" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="S" />
																<xs:enumeration value="N" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="lavoratoreAlleDipendenze4gennaio2021" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="S" />
																<xs:enumeration value="N" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="lavoratoreAlleDipendenze23marzo2021">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="S" />
																<xs:enumeration value="N" />
																<xs:enumeration value="Z" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="lavoratoreAlleDipendenze22ottobre2021" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="S" />
																<xs:enumeration value="N" />
																<xs:enumeration value="Z" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="dueCifreDecimali" name="divisoreContrattuale" minOccurs="1" />
													<xs:element name="presentiArretratiMesiPrecedentiInBusta" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="S" />
																<xs:enumeration value="N" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="annoMeseArretratiMesiPrecedentiInBusta"  >
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="presentiStorniMesiPrecedentiInBusta" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="S" />
																<xs:enumeration value="N" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="annoMeseStorniMesiPrecedentiInBusta"  >
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
		
		</xs:complexType>
		<xs:unique name="uniqueIdentificativo">
			<xs:selector xpath="istanza" />
			<xs:field xpath="identificativoPratica" />
		</xs:unique>
		
	</xs:element>
	<xs:simpleType name="dueCifreDecimali" id="dueCifreDecimali">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits fixed="true" value="2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cinqueCifreDecimali" id="cinqueCifreDecimali">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits fixed="true" value="5" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dataAutorizzazioneType">
		<xs:union memberTypes="periodoPermessoDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="periodoPermessoDate">
			<xs:restriction base="xs:date">
				<xs:minInclusive value="2020-02-23"/>
				<xs:maxInclusive value="2021-07-31"/>
			</xs:restriction>
	</xs:simpleType>
	
</xs:schema>
